body {
	background-color: blue;
}

h1 {
	color: red;
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

div {
	margin-top: 200px;
	margin-bottom: 70%;
	margin-left: auto;
	margin-right: auto;
	background: black;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 30px;
	text-align: center;
	/* outline-color: white;
	outline-width: 50px; */
	border: 20px inset white;
}
