body {
	
	background: 
		linear-gradient(10deg, rgb(0, 20, 255) 0%, transparent 25%),
		linear-gradient(90deg, rgb(10, 0, 65) 3%, transparent 25%), 
		linear-gradient(-180deg, rgb(0, 0, 10) 30%, transparent 0%),
		linear-gradient(-0.1deg, rgb(0, 20, 255) 50%, transparent 0%);
	background-size: 20em 4em;
	background-color: rgb(0, 100, 255);
}

h1 {
	color: red;
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

div {
	margin-top: 200px;
	margin-bottom: 70%;
	margin-left: auto;
	margin-right: auto;
	background: black;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	padding-left: auto;
	padding-right: auto;
	border-radius: 30px;
	text-align: center;
	/* outline-color: white;
	outline-width: 50px; */
	border: 20px inset white;
}
